<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='rijksregisternummer')"></head>
<body>
<div th:if="${werknemer} != null" th:object="${werknemer}">
    <h1>Rijksregisternummer van <span th:text="|*{voornaam} *{familienaam}|"></span></h1>
<!--    <p th:text="*{rijksregisternr}"></p>-->

</div>
<form th:object="${form}" th:action="@{/werknemer/{id}/rijksregisternummer/toevoegen(id=${werknemer.id})}"  method="post">
    <input hidden name="id" th:value="*{id}" th:field="*{id}">
    <label>Rijksregisternummer <span th:errors="*{rijksregisternummer}"></span> <input name="rijksregisternummer" th:field="*{rijksregisternummer}" type="number"  autofocus >
    </label>

    <input type="submit" value="Opslaan">
</form>

<script th:src="@{/js/preventDoubleSubmit.js}"></script>
</body>
</html>